@font-face {
  font-family : 'nexongothic';
  src : url("font/nexongothic.woff") format('woff');
}

@font-face {
  font-family : 'OwnglyphParkDaHyun';
  src : url("font/Ownglyph_ParkDaHyun.woff2") format('woff2');
}


.t1 {font-family: 'nexongothic';}
.t2 {font-family: 'OwnglyphParkDaHyun';}


header {
  background: linear-gradient(to bottom right, #580c4a, #e68caf, #6a47c7);
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 12px 12px; /* 아래쪽 모서리 둥글게 */
}
header h1{
  position: relative;
  transition: color 0.1s;
  display: inline-block; /* 텍스트 폭만큼만 차지 */
}

header h1:hover {
  color: #ffdd57;
}
/*  background: linear-gradient(to bottom right, #40ffca, #9a76a4, #da0e7f); 민트-보라-핑크*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 25px;
  padding: 20px;
}

section{
  border: 3px dashed #eed4fc; 
  padding: 10px;
  border-radius: 0 0 12px 12px;
}

a:link,
a:visited,
a:active 
{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a.h:link,
a.h:visited,
a.h:active 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover,
a:active,
a.h:hover,
a.h:active
{
  color: #e68caf;
  text-decoration: none;
}