@font-face {
  font-family : 'nexongothic';
  src : url("font/nexongothic.woff") format('woff');
}

@font-face {
  font-family : 'OwnglyphParkDaHyun';
  src : url("font/Ownglyph_ParkDaHyun.woff2") format('woff2');
}

@font-face {
    font-family: 'Cafe24NyangiWhite';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
  font-family: 'solemnis';
  src: url("font/MarketingDisparitiesDemoRegular-m27a9.ttf") format('truetype');
}

.t1 {font-family: 'nexongothic';}
.t2 {font-family: 'OwnglyphParkDaHyun';}
.t3 {font-family: 'Cafe24NyangiWhite';}
.t4 {font-family: 'solemnis';}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

header {
  background: #0000ff;
  color: white;
  padding: 0.3rem;
  text-align: center;
  /* border-radius: 0 0 25px 25px; */
  clip-path: ellipse(120% 100% at 50% 0%);
}


header a:hover {
  color: rgb(0, 255, 255);
}

header h1{
  position: relative;
  transition: color 0.1s;
  display: inline-block;
}

header h1:hover {
  color: #00ffff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 16px;
  padding: 10px;
  max-width: 100%;  
  box-sizing: border-box;
  border: none;
}

section{
  
  border: 3px solid #a3a3db ; 
  padding: 9px;
  border-radius: 5px;
  max-width: 100%;  
  box-sizing: border-box;
}

.container > section img,
.container > section table {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  audio 
  {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .container 
  {
    grid-template-columns: 1fr;
  }
}

a:link,
a:visited,
a:active
{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a.h:link,
a.h:visited,
a.h:active 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover,
a:active,
a.h:hover,
a.h:active
{
  color: #0000ff;
  text-decoration: none;
}



footer,
footer a:link,
footer a:visited
{
  background: #ededf7;
  color:rgb(113, 116, 134);
  border-radius: 25px 25px 0 0;
  padding: 1rem;
  text-align: center;
}


